<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
            <li routerLinkActive="active">  <a routerLink="/recipe" >Reciepe</a></li>
            <li routerLinkActive="active">  <a routerLink="/shopping-list">shopping list</a></li>
       
      </ul>

      <ul class="nav navbar-nav navbar-right">
       
        <li class="dropdown" appDropDown > 
            
            <a  class="dropdown-toggle" role="button" >Manage
                <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>  <a  >Save Data</a></li>
        <li>  <a  >Fitch Data</a></li>
        </ul>
        </li>
    
    </ul>
   
    </div>
  </nav>
<div class="nav navbar-default">
<div class="container-fluid">
    <div class="nav-header">
        <a  class="navbar-brand">Reciepe Book</a>
    </div>
<div class="collapse navbar-collapse">

</div>

</div>

</div>




 
